.body {
  background: rgb(218, 218, 233);
  height: 100vh;
}
.wrapper {
  background: rgb(231, 228, 228);
  width: 90%;
  height: 90%;
  border: 4px solid blanchedalmond;
  border-style: outset;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.time {
  width: 10%;
  height: 70%;
  background: rgb(44, 43, 43);
  font-size: 30px;
  font-weight: 900;
  color: red;
  font-family: 'Quartz', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  width: 10%;
  height: 80%;
  font-size: 12px;
  font-weight: 900;
  border: 4px solid blanchedalmond;
  border-style: outset;
}

.result {
  width: 30%;
  height: 80%;
  font-size: 20px;
  font-weight: 900;
  border: 4px solid blanchedalmond;
  border-style: outset;
  background: white;
}
.count {
  width: 10%;
  height: 70%;
  background: rgb(44, 43, 43);
  font-size: 30px;
  color: red;
  font-family: 'Quartz', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 90%;
  border: 4px solid blanchedalmond;
  border-style: outset;
  display: flex;
}

.field {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(15, 30px);
  /* display: flex;
  flex-wrap: wrap; */
  margin: 100px auto;
}

.button {
  height: 30px;
  width: 30px;
  font-size: 16px;
  color :black;
  border: 4px solid blanchedalmond;
  border-style: outset;
  font-weight: 900;
}
.blue {
  color :blue;
}
.green {
  color : green;
}
.red {
  color :red;
}
.blueviolet {
  color :blueviolet;
}
.brown {
  color :brown;
}
.active {
  background: rgb(214, 209, 209);
}

.swich {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  /* background: black; */
}

.swich__input {
  height: 0;
  width: 0;
  opacity: 0;
}

.swich__check {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  /* background: grey; */
  background: wheat;
  border-radius: 34px;
  transition: .6s;
}

.swich__check::before {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 4px;
  cursor: pointer;
  height: 26px;
  width: 26px;
  /* background: black; */
  background: gray;
  border-radius: 50%;
  transition: .6s;

}
.swich__input:checked + .swich__check {
  background: gray;

}

.swich__input:checked + .swich__check::before {
  transform: translateX(26px);
  background: wheat;
}

.darck {
  background: rgb(54, 54, 54)
}

.light {
  background: wheat;
}
